body{
  margin: 0 auto;
  font-family: "Smythe", system-ui;
  font-style: normal;
}

.outer-container{
  width: 500px;
}

/* Header Section */

header{
  background: url("../public/images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top -125px;
  color: whitesmoke;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,h2{
  margin: 2.5px 0;
  margin-left: 50px;
  font-size: 32px;
  font-weight: 500;
}

h2{
  font-size: 18px;
}

/* Item Choices */

.items-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i{
  font-size: 60px;
  margin-left: 20px;
}

.food-information{
  margin-right: auto;
  margin-left: 30px;
}

.ingredients{
  font-weight: 100;
  color: #8B8B8B;
}

.item-price{
  font-weight: 1000;
}

.add-item{
  font-size: 30px;
  font-family: Courier, monospace;
  font-weight: 500;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid lightgrey;
}